body {
  display: flex;
  justify-content: center;
}

.box {
  margin-top: 20px;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  position: relative;
}
.buttons {
  margin-top: 20px;
  position: relative;
  display: flex;
}
